---
http_interactions:
- request:
    method: get
    uri: https://api.500px.com/v1/photos/55376408
    body:
      encoding: US-ASCII
      string: consumer_key=Ou5TL8cnyb5icBfcx2y2i5HykUPNGE3XhwpQ67Io
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ou5TL8cnyb5icBfcx2y2i5HykUPNGE3XhwpQ67Io", oauth_nonce="36b768914cf1fafa6ed31b6f16bc9ef7",
        oauth_signature="L5CQNO2RY47tYJ42PsYNhZMQ0Uk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1388524806", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"eb924a657a2d86535e68e27fd1e9ac97"'
    body:
      encoding: UTF-8
      string: '{"photo":{"id":55376408,"user_id":4288782,"name":"Westminster","description":"Westminster
        bridge... London..","camera":"","lens":null,"focal_length":null,"iso":"","shutter_speed":null,"aperture":null,"times_viewed":980,"rating":74.8,"status":1,"created_at":"2013-12-19T17:13:47-05:00","category":9,"location":null,"latitude":51.5011026711586,"longitude":-0.1198303699493408,"taken_at":null,"hi_res_uploaded":0,"for_sale":false,"width":880,"height":880,"votes_count":654,"favorites_count":368,"comments_count":60,"positive_votes_count":654,"nsfw":false,"sales_count":0,"for_sale_date":null,"highest_rating":99.6,"highest_rating_date":"2013-12-20T16:55:22-05:00","license_type":0,"converted":true,"privacy":false,"image_url":"http://ppcdn.500px.org/55376408/b534fe0ad2361a34c1194d48817eebe149739a2a/4.jpg","images":[{"size":4,"url":"http://ppcdn.500px.org/55376408/b534fe0ad2361a34c1194d48817eebe149739a2a/4.jpg"}],"store_download":false,"store_print":false,"editors_choice":false,"editors_choice_date":null,"user":{"id":4288782,"username":"wiktorbernatowicz","firstname":"Wiktor","lastname":"Bernatowicz","city":"Southend
        On Sea","country":"England","fullname":"Wiktor Bernatowicz","userpic_url":"http://pacdn.500px.org/4288782/fd1b1aa8f389ac01833f33a3f436cdd32c70e78d/1.jpg?1","upgrade_status":0,"followers_count":396,"affection":6316},"comments":[]},"comments":[]}'
  recorded_at: Tue, 31 Dec 2013 21:20:06 GMT
recorded_with: VCR 2.8.0
